@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --font-sans: 'Outfit', sans-serif;

  --background: oklch(0.9857 0.0014 128.48);
  --foreground: oklch(0.222 0.0104 129);
  --card: oklch(0.9928 0.0007 128.47);
  --card-foreground: oklch(0.222 0.0104 129);
  --popover: oklch(0.9928 0.0007 128.47);
  --popover-foreground: oklch(0.222 0.0104 129);
  --primary: oklch(0.5773 0.065 144.68);
  --primary-foreground: oklch(0.9855 0.0026 145.56);
  --secondary: oklch(0.8581 0.0139 106.69);
  --secondary-foreground: oklch(0.2248 0.0096 107.15);
  --muted: oklch(0.9278 0.0073 128.55);
  --muted-foreground: oklch(0.5311 0.0334 129.19);
  --accent: oklch(0.5873 0.0387 196.15);
  --accent-foreground: oklch(0.9859 0.0016 197.13);
  --destructive: oklch(0.5594 0.19 25.86);
  --destructive-foreground: oklch(0.9804 0.0066 17.27);
  --border: oklch(0.8911 0.0111 128.6);
  --input: oklch(0.8911 0.0111 128.6);
  --ring: oklch(0.5773 0.065 144.68);
  --radius: 0.5rem;
  --chart-1: oklch(0.5773 0.065 144.68);
  --chart-2: oklch(0.8581 0.0139 106.69);
  --chart-3: oklch(0.5873 0.0387 196.15);
  --chart-4: oklch(0.6104 0.03648810519520539 67.0526224163858);
  --chart-5: oklch(0.6562 0.0301 285.54);

  /* SIDEBAR */
  --sidebar: oklch(0.97 0.01 90);
  --sidebar-foreground: oklch(0.22 0.01 90);

  --sidebar-primary: oklch(0.63 0.08 145);
  --sidebar-primary-foreground: oklch(0.98 0.01 145);

  --sidebar-accent: oklch(0.63 0.08 200);
  --sidebar-accent-foreground: oklch(0.98 0.01 200);

  --sidebar-border: oklch(0.88 0.015 90);
  --sidebar-ring: oklch(0.63 0.08 145);
}

.dark {
  --background: oklch(0.2253 0.015504732641780122 129.2565890429333);
  --foreground: oklch(0.9857 0.0014 128.48);
  --card: oklch(0.249 0.0181 129.31);
  --card-foreground: oklch(0.9857 0.0014 128.48);
  --popover: oklch(0.249 0.0181 129.31);
  --popover-foreground: oklch(0.9857 0.0014 128.48);
  --primary: oklch(0.662 0.0631 144.82);
  --primary-foreground: oklch(0.2216 0.0185 144.92);
  --secondary: oklch(0.4418 0.0241 107.35);
  --secondary-foreground: oklch(0.986 0.0013 106.42);
  --muted: oklch(0.3388 0.0279 129.42);
  --muted-foreground: oklch(0.779 0.0229 128.79);
  --accent: oklch(0.6719 0.038 196.28);
  --accent-foreground: oklch(0.2245 0.0112 196.38);
  --destructive: oklch(0.476 0.159 25.64);
  --destructive-foreground: oklch(0.9804 0.0066 17.27);
  --border: oklch(0.392 0.0336 129.47);
  --input: oklch(0.392 0.0336 129.47);
  --ring: oklch(0.662 0.0631 144.82);
  --radius: 0.5rem;
  --chart-1: oklch(0.662 0.0631 144.82);
  --chart-2: oklch(0.4418 0.0241 107.35);
  --chart-3: oklch(0.6719 0.038 196.28);
  --chart-4: oklch(0.692 0.0284 67.33);
  --chart-5: oklch(0.4817 0.0326 285.11);

  /* SIDEBAR */
  --sidebar: oklch(0.2 0.015 90);
  --sidebar-foreground: oklch(0.98 0.01 90);

  --sidebar-primary: oklch(0.72 0.1 145);
  --sidebar-primary-foreground: oklch(0.18 0.015 145);

  --sidebar-accent: oklch(0.72 0.1 200);
  --sidebar-accent-foreground: oklch(0.18 0.015 200);

  --sidebar-border: oklch(0.32 0.015 90);
  --sidebar-ring: oklch(0.72 0.1 145);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    height: 100%;
    width: 100%;
    @apply bg-background text-foreground font-sans;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
